openapi: 3.2.0
info:
  contact:
    email: support@assetfare.dev
    name: AssetFare support
    url: https://assetfare.dev/security/
  description: Public fee-inclusive quotes for two capped Solana-origin corridors. Wallet-signed self-service execution is available only when the runtime launch gates are enabled. AssetFare returns bounded unsigned actions; the user's agent verifies, signs, and submits every transaction. AssetFare never receives private keys and never submits transactions. The three-stage cross-chain workflow is non-atomic.
  termsOfService: https://assetfare.dev/terms/
  title: AssetFare Agent-native Route Quote API
  version: 0.8.2
servers:
- description: AssetFare API
  url: https://api.assetfare.dev
tags:
- name: Quote
paths:
  /v1/quote:
    post:
      description: Public quote only. Exactly five fields are accepted. Choose Base or Arbitrum as the destination; other tokens and corridors are unsupported.
      operationId: getQuote
      requestBody:
        content:
          application/json:
            examples:
              solana_to_arbitrum_300:
                summary: Solana to Arbitrum
                value:
                  amount_usd: 300
                  from_chain: solana
                  from_token: SOL
                  to_chain: arbitrum
                  to_token: ETH
              solana_to_base_300:
                summary: Solana to Base
                value:
                  amount_usd: 300
                  from_chain: solana
                  from_token: SOL
                  to_chain: base
                  to_token: ETH
            schema:
              additionalProperties: false
              properties:
                amount_usd:
                  maximum: 1000
                  minimum: 250
                  multipleOf: 1
                  type: number
                from_chain:
                  const: solana
                  type: string
                from_token:
                  const: SOL
                  type: string
                to_chain:
                  enum:
                  - base
                  - arbitrum
                  type: string
                to_token:
                  const: ETH
                  type: string
              required:
              - from_chain
              - from_token
              - to_chain
              - to_token
              - amount_usd
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                properties:
                  cache:
                    enum:
                    - hit
                    - miss
                    type: string
                  execution:
                    description: Invite-only unsigned-action availability.
                    type: object
                  intent:
                    type: object
                  offer:
                    description: Fee-inclusive receive estimates. The cost interval is a model range, not an extra charge.
                    type: object
                  provider:
                    const: AssetFare
                  quote_id:
                    format: uuid
                    type: string
                  risk:
                    description: Non-atomic workflow and recovery disclosures.
                    type: object
                  route:
                    items:
                      type: object
                    type: array
                  status:
                    const: available
                  ttl_seconds:
                    type: integer
                required:
                - quote_id
                - provider
                - status
                - ttl_seconds
                - intent
                - offer
                - route
                - risk
                - execution
                type: object
          description: Fresh or cached offer
        '400':
          content:
            application/json:
              example:
                error: amount_usd_out_of_range_250_1000
              schema:
                additionalProperties: true
                properties:
                  active_session_release_at:
                    format: date-time
                    type:
                    - string
                    - 'null'
                  error:
                    type: string
                  next_action:
                    type: string
                  recovery:
                    type: object
                  required_workflow_state:
                    type: string
                  retry_after_seconds:
                    minimum: 1
                    type: integer
                  retryable:
                    type: boolean
                  status:
                    type: string
                  workflow_state:
                    type: string
                required:
                - error
                type: object
          description: Invalid request or unsupported corridor
        '429':
          content:
            application/json:
              example:
                error: quote_capacity_budget_exhausted
                retry_after_seconds: 60
              schema:
                additionalProperties: true
                properties:
                  active_session_release_at:
                    format: date-time
                    type:
                    - string
                    - 'null'
                  error:
                    type: string
                  next_action:
                    type: string
                  recovery:
                    type: object
                  required_workflow_state:
                    type: string
                  retry_after_seconds:
                    minimum: 1
                    type: integer
                  retryable:
                    type: boolean
                  status:
                    type: string
                  workflow_state:
                    type: string
                required:
                - error
                type: object
          description: Expensive quote-miss budget exhausted
        '502':
          content:
            application/json:
              schema:
                additionalProperties: true
                properties:
                  active_session_release_at:
                    format: date-time
                    type:
                    - string
                    - 'null'
                  error:
                    type: string
                  next_action:
                    type: string
                  recovery:
                    type: object
                  required_workflow_state:
                    type: string
                  retry_after_seconds:
                    minimum: 1
                    type: integer
                  retryable:
                    type: boolean
                  status:
                    type: string
                  workflow_state:
                    type: string
                required:
                - error
                type: object
          description: Required quote source temporarily unavailable
      summary: Get AssetFare's own fee-inclusive route offer
      tags:
      - Quote
components:
  securitySchemes:
    bearerAuth:
      description: Revocable wallet-bound credential required for session endpoints
      scheme: bearer
      type: http
externalDocs:
  description: Agent route skill, MCP endpoint, signed manifest, and verification material
  url: https://assetfare.dev/.well-known/assetfare.json
x-assetfare-access:
  execution: wallet_signed_public_demand_validation
  quotes: public
  self_service_credentials: true
x-assetfare-error-catalog:
  destination_action_expired_reprepare_required: 410
  source_action_expired_new_quote_session_required: 410
  tenant_active_session_limit: 409
  workflow_state_requires_cctp_action: 409
  workflow_state_requires_destination_action: 409
  workflow_state_requires_destination_funds: 409
  workflow_state_requires_quote_locked: 409
  workflow_state_requires_source_action: 409
  workflow_state_requires_source_receipt: 409
x-assetfare-pricing:
  collection: destination_atomic_batch_success_only
  execution_fee_bps: 1
  execution_fee_cap_usdc: 5
  public_quote_usd: 0
  url: https://assetfare.dev/pricing.json
x-assetfare-rate-limits:
  cache_hits: not charged against the expensive-miss budget
  expensive_quote_cache_misses: 3 per source IP and 20 globally per 60 seconds
  quote_cache_ttl_seconds: 20
x-assetfare-self-service:
  authentication: Solana Ed25519 signMessage
  login_authorizes_transaction: false
  max_live_challenges_per_wallet: 5
  privacy_url: https://assetfare.dev/privacy
  status: enabled_capped_demand_validation
  terms_url: https://assetfare.dev/terms
  wallet_binding: session token is bound to the verified source wallet
x-assetfare-session-policy:
  active_after_funding_release: workflow completion or operator recovery
  active_before_funding_release: quote expiry or prepared source-action expiry
  max_active_sessions_per_tenant: 1
  tenant_active_session_limit_response: HTTP 409 with retryable, retry_after_seconds, and active_session_release_at when automatic release is known
x-assetfare-supported-corridors:
- amount_usd:
    maximum: 1000
    minimum: 250
    whole_dollars: true
  from: solana:SOL
  to: base:ETH
- amount_usd:
    maximum: 1000
    minimum: 250
    whole_dollars: true
  from: solana:SOL
  to: arbitrum:ETH
