{
  "openapi": "3.1.0",
  "info": {
    "title": "AssetFare Quote-only Agent API",
    "version": "2.6.0-quote-only",
    "description": "Quote-only, non-custodial API from Solana native USDC to Base native USDC and beyond: 54 active routes; 44 inactive. AssetFare service fee exactly 1bp with no service-fee maximum; Circle/provider/network fees are separate and additional. AssetFare never signs or submits; unsigned preparation is caller-approved.",
    "termsOfService": "https://assetfare.dev/terms/",
    "contact": {
      "name": "AssetFare support",
      "url": "https://assetfare.dev/security/",
      "email": "support@assetfare.dev"
    },
    "license": {
      "name": "Proprietary public API terms",
      "url": "https://assetfare.dev/terms/"
    }
  },
  "servers": [
    {
      "url": "https://api.assetfare.dev"
    }
  ],
  "security": [],
  "x-assetfare-evaluation-guidance": {
    "schema_version": 4,
    "route_minimum_usd": 1,
    "reachability_smoke_usd": 1,
    "reachability_smoke_scope": "connectivity_only_not_economic_evaluation",
    "route_specific_guidance": {
      "version": "assetfare-route-economic-guidance-v3",
      "url": "https://assetfare.dev/route-economics.json",
      "required_on_every_quote": true,
      "verified_best_from_only": true,
      "nullable_when_unverified": true,
      "controls_recommendation_only_when_verified": true,
      "values_change_with_market": true,
      "catalog_routes": 98,
      "public_active_routes": 54,
      "public_inactive_routes": 44,
      "availability_only_routes": 10
    },
    "documentation_example_usd": 1000,
    "documentation_example_scope": "example_only_not_route_guidance_or_minimum",
    "sol_input_caveat": "SOL-input routes add a source swap, so compare their full fee-inclusive route economics separately.",
    "historical_observation": {
      "route": "solana:USDC->base:USDC",
      "observed_competitive_bucket_usd": 500,
      "evidence_as_of": "2026-09-29",
      "not_generalizable": true
    },
    "not_a_minimum": true,
    "not_guaranteed_best": true,
    "always_compare_fresh_at_intended_amount": true
  },
  "paths": {
    "/v2/capabilities": {
      "get": {
        "operationId": "getMultichainCapabilities",
        "summary": "List implemented routes plus current provider-dependent prepare availability",
        "responses": {
          "200": {
            "description": "Capabilities, economic-evaluation guidance, and nonblocking live availability snapshot"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/v2/status": {
      "get": {
        "operationId": "getMultichainStatus",
        "summary": "Read route health without creating a quote",
        "description": "Includes a nonblocking last-known CCTP/Circle-Iris health snapshot (cctp: status available|degraded|unknown, last_success_at, age_seconds, stale, guarantees_future_availability=false). An Iris outage degrades the snapshot but never fails this endpoint.",
        "responses": {
          "200": {
            "description": "Route health incl. last-known cctp/iris snapshot"
          },
          "429": {
            "description": "Rate limited"
          },
          "503": {
            "description": "Capacity busy"
          }
        }
      }
    },
    "/v2/quote": {
      "post": {
        "operationId": "quoteMultichainRoute",
        "summary": "Quote a live route, including Solana native USDC to Base native USDC",
        "description": "Returns expected/minimum receive, total token-path cost, provider fees, ETA, live prepare readiness, and direct_route_summary: the validated ordered direct-protocol provider/from/to path with amount bounds and AssetFare fee step. All current routes are direct_protocol_only; route_aggregator_used=false is scoped to AssetFare's engine. Representative example: $1,000 Solana native USDC to Base native USDC; not a minimum or guarantee. A quote grants no signing or submission authority.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "from_chain",
                  "from_token",
                  "to_chain",
                  "to_token",
                  "amount_usd"
                ],
                "properties": {
                  "from_chain": {
                    "type": "string",
                    "enum": [
                      "solana",
                      "base",
                      "arbitrum",
                      "robinhood",
                      "optimism",
                      "ethereum",
                      "hyperevm",
                      "xlayer",
                      "sei",
                      "sonic",
                      "monad",
                      "avalanche",
                      "cronos",
                      "injective",
                      "linea",
                      "aptos"
                    ]
                  },
                  "from_token": {
                    "type": "string",
                    "enum": [
                      "SOL",
                      "ETH",
                      "USDC",
                      "USDG"
                    ]
                  },
                  "to_chain": {
                    "type": "string",
                    "enum": [
                      "solana",
                      "base",
                      "arbitrum",
                      "robinhood"
                    ]
                  },
                  "to_token": {
                    "type": "string",
                    "enum": [
                      "SOL",
                      "ETH",
                      "USDC",
                      "USDG"
                    ]
                  },
                  "amount_usd": {
                    "type": "number",
                    "minimum": 1,
                    "description": "No business maximum. USD 1 is supported for reachability smoke testing only. Prefer AssetFare only when the returned economic_guidance.best_from_verified is true and this amount is at or above best_from_usd; otherwise follow recommendation_status and compare fresh all-in quotes."
                  }
                },
                "allOf": [
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "solana"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "SOL",
                            "USDC",
                            "USDG"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "base"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "ETH",
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "arbitrum"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "ETH",
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "robinhood"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "ETH",
                            "USDG"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "optimism"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "ethereum"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "hyperevm"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "xlayer"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "sei"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "sonic"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "monad"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "avalanche"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "cronos"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "injective"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "linea"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "aptos"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "enum": [
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "polygon"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "arbitrum"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "optimism"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "arbitrum"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "ethereum"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "hyperevm"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "xlayer"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "sei"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "sonic"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "monad"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "avalanche"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "cronos"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "injective"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "linea"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "from_chain": {
                          "const": "aptos"
                        }
                      },
                      "required": [
                        "from_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "from_token": {
                          "const": "USDC"
                        },
                        "to_chain": {
                          "enum": [
                            "base",
                            "solana"
                          ]
                        },
                        "to_token": {
                          "const": "USDC"
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "to_chain": {
                          "const": "solana"
                        }
                      },
                      "required": [
                        "to_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "to_token": {
                          "enum": [
                            "SOL",
                            "USDC",
                            "USDG"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "to_chain": {
                          "const": "base"
                        }
                      },
                      "required": [
                        "to_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "to_token": {
                          "enum": [
                            "ETH",
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "to_chain": {
                          "const": "arbitrum"
                        }
                      },
                      "required": [
                        "to_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "to_token": {
                          "enum": [
                            "ETH",
                            "USDC"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "if": {
                      "properties": {
                        "to_chain": {
                          "const": "robinhood"
                        }
                      },
                      "required": [
                        "to_chain"
                      ]
                    },
                    "then": {
                      "properties": {
                        "to_token": {
                          "enum": [
                            "ETH",
                            "USDG"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "not": {
                      "anyOf": [
                        {
                          "properties": {
                            "from_chain": {
                              "const": "solana"
                            },
                            "from_token": {
                              "const": "SOL"
                            },
                            "to_chain": {
                              "const": "solana"
                            },
                            "to_token": {
                              "const": "SOL"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "solana"
                            },
                            "from_token": {
                              "const": "USDC"
                            },
                            "to_chain": {
                              "const": "solana"
                            },
                            "to_token": {
                              "const": "USDC"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "solana"
                            },
                            "from_token": {
                              "const": "USDG"
                            },
                            "to_chain": {
                              "const": "solana"
                            },
                            "to_token": {
                              "const": "USDG"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "base"
                            },
                            "from_token": {
                              "const": "ETH"
                            },
                            "to_chain": {
                              "const": "base"
                            },
                            "to_token": {
                              "const": "ETH"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "base"
                            },
                            "from_token": {
                              "const": "USDC"
                            },
                            "to_chain": {
                              "const": "base"
                            },
                            "to_token": {
                              "const": "USDC"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "arbitrum"
                            },
                            "from_token": {
                              "const": "ETH"
                            },
                            "to_chain": {
                              "const": "arbitrum"
                            },
                            "to_token": {
                              "const": "ETH"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "arbitrum"
                            },
                            "from_token": {
                              "const": "USDC"
                            },
                            "to_chain": {
                              "const": "arbitrum"
                            },
                            "to_token": {
                              "const": "USDC"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "robinhood"
                            },
                            "from_token": {
                              "const": "ETH"
                            },
                            "to_chain": {
                              "const": "robinhood"
                            },
                            "to_token": {
                              "const": "ETH"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        },
                        {
                          "properties": {
                            "from_chain": {
                              "const": "robinhood"
                            },
                            "from_token": {
                              "const": "USDG"
                            },
                            "to_chain": {
                              "const": "robinhood"
                            },
                            "to_token": {
                              "const": "USDG"
                            }
                          },
                          "required": [
                            "from_chain",
                            "from_token",
                            "to_chain",
                            "to_token"
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "anyOf": [
                      {
                        "properties": {
                          "from_chain": {
                            "const": "aptos"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "aptos"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "arbitrum"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "arbitrum"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "arbitrum"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "arbitrum"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "arbitrum"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "avalanche"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "avalanche"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "base"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "base"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "base"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "cronos"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "cronos"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "ethereum"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "hyperevm"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "injective"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "injective"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "linea"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "linea"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "monad"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "monad"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "optimism"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "SOL"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "ETH"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "SOL"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "robinhood"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "sei"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "sei"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "SOL"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "SOL"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "SOL"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "SOL"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "SOL"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "arbitrum"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "ETH"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "solana"
                          },
                          "from_token": {
                            "const": "USDG"
                          },
                          "to_chain": {
                            "const": "robinhood"
                          },
                          "to_token": {
                            "const": "USDG"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "sonic"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "sonic"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "xlayer"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "base"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      },
                      {
                        "properties": {
                          "from_chain": {
                            "const": "xlayer"
                          },
                          "from_token": {
                            "const": "USDC"
                          },
                          "to_chain": {
                            "const": "solana"
                          },
                          "to_token": {
                            "const": "USDC"
                          }
                        },
                        "required": [
                          "from_chain",
                          "from_token",
                          "to_chain",
                          "to_token"
                        ]
                      }
                    ]
                  }
                ]
              },
              "examples": {
                "solana_native_usdc_to_base_native_usdc_1000": {
                  "summary": "Representative $1,000 native-USDC economic evaluation (not a minimum)",
                  "value": {
                    "from_chain": "solana",
                    "from_token": "USDC",
                    "to_chain": "base",
                    "to_token": "USDC",
                    "amount_usd": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transparent route quote; AssetFare service fee is one component, not total cost",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "quote_id",
                    "status",
                    "as_of",
                    "ttl_seconds",
                    "intent",
                    "offer",
                    "route",
                    "risk",
                    "execution",
                    "cost_summary",
                    "eta",
                    "economic_guidance",
                    "direct_route_summary",
                    "caller_action_plan_handoff",
                    "caller_action_plan_handoff_v2",
                    "handoff_schema_version",
                    "continuation_v3"
                  ],
                  "properties": {
                    "quote_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "const": "capped_public_agent_release",
                      "description": "Legacy compatibility identifier only; it does not represent a current business amount cap."
                    },
                    "as_of": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "ttl_seconds": {
                      "const": 60
                    },
                    "intent": {
                      "type": "object",
                      "required": [
                        "from",
                        "to",
                        "amount_usd",
                        "estimated_input_base"
                      ],
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "amount_usd": {
                          "type": "number"
                        },
                        "estimated_input_base": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    },
                    "offer": {
                      "type": "object",
                      "required": [
                        "expected_receive_amount",
                        "estimated_min_receive_amount",
                        "output_symbol",
                        "expected_receive_usd",
                        "estimated_min_receive_usd",
                        "assetfare_fee_bps",
                        "fee_modeled_bps",
                        "fee_collectible_now",
                        "fee_collection_steps",
                        "fee_collection",
                        "cost_disclosure"
                      ],
                      "properties": {
                        "expected_receive_amount": {
                          "type": "number"
                        },
                        "estimated_min_receive_amount": {
                          "type": "number"
                        },
                        "output_symbol": {
                          "type": "string"
                        },
                        "expected_receive_usd": {
                          "type": "number"
                        },
                        "estimated_min_receive_usd": {
                          "type": "number"
                        },
                        "estimated_time_seconds": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "assetfare_fee_bps": {
                          "type": "integer",
                          "const": 1
                        },
                        "fee_modeled_bps": {
                          "type": "integer",
                          "const": 1
                        },
                        "fee_collectible_now": {
                          "const": true
                        },
                        "fee_blocker": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "fee_collection_steps": {
                          "type": "array",
                          "minItems": 1,
                          "maxItems": 1,
                          "items": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "fee_collection": {
                          "const": "only_on_eligible_successful_executor_step"
                        },
                        "cost_disclosure": {
                          "type": "object",
                          "required": [
                            "token_minimum_includes_route_and_protocol_fees",
                            "source_gas_included",
                            "destination_gas_included",
                            "destination_native_gas_required",
                            "unpriced_costs",
                            "rankable_all_in"
                          ],
                          "properties": {
                            "token_minimum_includes_route_and_protocol_fees": {
                              "type": "boolean"
                            },
                            "source_gas_included": {
                              "type": "boolean"
                            },
                            "destination_gas_included": {
                              "type": "boolean"
                            },
                            "destination_native_gas_required": {
                              "type": "boolean"
                            },
                            "unpriced_costs": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "rankable_all_in": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "route": {
                      "type": "object",
                      "required": [
                        "route",
                        "steps",
                        "quote_latency_ms",
                        "server_signing",
                        "server_submission",
                        "mode",
                        "aggregator_api_used",
                        "external_intent_protocol_used"
                      ],
                      "properties": {
                        "route": {
                          "type": "string"
                        },
                        "steps": {
                          "type": "array",
                          "minItems": 1,
                          "items": {
                            "type": "object"
                          }
                        },
                        "quote_latency_ms": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "server_signing": {
                          "type": "boolean",
                          "const": false
                        },
                        "server_submission": {
                          "type": "boolean",
                          "const": false
                        },
                        "mode": {
                          "type": "string",
                          "minLength": 1
                        },
                        "aggregator_api_used": {
                          "const": false
                        },
                        "external_intent_protocol_used": {
                          "type": "boolean"
                        }
                      }
                    },
                    "risk": {
                      "type": "object",
                      "required": [
                        "non_atomic",
                        "fresh_quote_required_each_step",
                        "server_signing",
                        "server_submission",
                        "external_intent_protocol_used",
                        "provider_internal_dex_aggregation_possible"
                      ],
                      "properties": {
                        "non_atomic": {
                          "type": "boolean"
                        },
                        "fresh_quote_required_each_step": {
                          "type": "boolean",
                          "const": true
                        },
                        "server_signing": {
                          "type": "boolean",
                          "const": false
                        },
                        "server_submission": {
                          "type": "boolean",
                          "const": false
                        },
                        "external_intent_protocol_used": {
                          "type": "boolean"
                        },
                        "provider_internal_dex_aggregation_possible": {
                          "type": "boolean"
                        }
                      }
                    },
                    "execution": {
                      "type": "object",
                      "required": [
                        "supported",
                        "first_unsigned_action_supported",
                        "future_actions_require_verified_receipts"
                      ],
                      "properties": {
                        "supported": {
                          "type": "boolean"
                        },
                        "first_unsigned_action_supported": {
                          "type": "boolean"
                        },
                        "future_actions_require_verified_receipts": {
                          "type": "boolean",
                          "const": true
                        },
                        "blocker": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "cost_summary": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "scope",
                        "input_value_usd",
                        "expected_receive_value_usd",
                        "minimum_receive_value_usd",
                        "expected_total_cost_usd",
                        "maximum_total_cost_usd",
                        "expected_total_cost_percent",
                        "maximum_total_cost_percent",
                        "assetfare_service_fee",
                        "provider_fee_components",
                        "unpriced_costs",
                        "rankable_all_in",
                        "small_amount_warning",
                        "warning"
                      ],
                      "properties": {
                        "scope": {
                          "const": "token_path_only_network_gas_excluded"
                        },
                        "input_value_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "expected_receive_value_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "minimum_receive_value_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "expected_total_cost_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "maximum_total_cost_usd": {
                          "type": "number",
                          "minimum": 0
                        },
                        "expected_total_cost_percent": {
                          "type": "number",
                          "minimum": 0
                        },
                        "maximum_total_cost_percent": {
                          "type": "number",
                          "minimum": 0
                        },
                        "assetfare_service_fee": {
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "bps",
                            "estimated_usd",
                            "included_in_receive_amount",
                            "note"
                          ],
                          "properties": {
                            "bps": {
                              "const": 1
                            },
                            "estimated_usd": {
                              "type": "number",
                              "minimum": 0
                            },
                            "included_in_receive_amount": {
                              "const": true
                            },
                            "note": {
                              "type": "string",
                              "minLength": 1
                            }
                          }
                        },
                        "provider_fee_components": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "provider",
                              "kind",
                              "expected_usd",
                              "maximum_usd",
                              "included_in_receive_amount"
                            ],
                            "properties": {
                              "provider": {
                                "type": "string",
                                "minLength": 1
                              },
                              "kind": {
                                "type": "string",
                                "minLength": 1
                              },
                              "expected_usd": {
                                "type": "number",
                                "minimum": 0
                              },
                              "maximum_usd": {
                                "type": "number",
                                "minimum": 0
                              },
                              "included_in_receive_amount": {
                                "const": true
                              },
                              "includes_destination_gas": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "unpriced_costs": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "rankable_all_in": {
                          "const": false
                        },
                        "small_amount_warning": {
                          "type": "boolean"
                        },
                        "warning": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "eta": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "estimated_time_seconds",
                        "estimated_time_range_seconds",
                        "complete_route_estimate",
                        "sources",
                        "note"
                      ],
                      "properties": {
                        "estimated_time_seconds": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "minimum": 1
                        },
                        "estimated_time_range_seconds": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "prefixItems": [
                            {
                              "type": "integer",
[...]
